/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
  font-family: Museo Sans;
  src: url(/assets/vendor/font/MuseoSans_500.otf);
}
@font-face {
  font-family: Museo Sans;
  src: url(/assets/vendor/font/MuseoSans-300.otf);
  font-weight: 300;
}

@font-face {
  font-family: Museo Sans;
  src: url(/assets/vendor/font/MuseoSans_500.otf);
  src: url(/assets/vendor/font/MuseoSans_500_Italic.otf);
  font-weight: 500;
}
@font-face {
  font-family: Museo Sans;
  src: url(/assets/vendor/font/MuseoSans_700.otf);
  font-weight: 700;
}



body{
  font-family: 'Museo Sans';
  color: rgba(38, 38, 38, 1);
}
.btn-mono-black{
  background-color: #262626;
  color: #fff;
}
.btn-black{
  background: rgba(0, 0, 0, 1);
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link{
  color: rgba(0,0,0,.45)
}
.home-top{
  background-image:linear-gradient( 255deg,rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) ),url('../img/homepage-bg.png');
  background-size: cover;
  /* background-position: center; */
  min-height: 36rem;
  background-repeat: no-repeat;
}
.event-top{
  background-image:linear-gradient( 255deg,rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) ),url('../img/event-bg.png');
  background-size: cover;
  /* background-position: center; */
  min-height:41rem;
  background-repeat: no-repeat;
}
.single-event-top{
  background-image:linear-gradient( 255deg,rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) ),url('../img/single-event.png');
  background-size: cover;
  /* background-position: center; */
  min-height: 41rem;
  background-repeat: no-repeat;
}
.faq-top{
  background-image:linear-gradient( 255deg,rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) ),url('../img/faq-bg.png');
  background-size: cover;
  /* background-position: center; */
  min-height: 29rem;
  background-repeat: no-repeat;
}

.faq-home{
  min-height: 29rem;
}

.event-home{
  min-height: 41rem;
}

.home-top h1{
  padding-top: 15rem;
  color: #fff;
}
.home-top .top-pad{
  padding-top: 15rem;
  /* color: #fff; */
}
.count-right{
  /* background: url('../img/BG.png'); */
  /* min-height: 36rem; */
  /* background-size: cover; */
}
.space-side{
  background: url('../img/space.png');
  min-height: 36rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-red-dark{
  background-color: rgba(240, 55, 56, 1);
}
.bg-red{
  background: rgba(219, 53, 58, 1);
}
.neg-box-x{
  width: 21rem;
  margin-left: -3.125rem;
  border-radius: 5px;
  margin-top: 3.125rem;
  z-index: 999999!important;
  opacity: 1;
 
}
.over-hidden{
  overflow:visible;
}
.neg-form{
  margin-left: -13.125rem;
  border-radius: 5px;
  margin-top: 5.125rem;
  width: 28rem;

}
.fusion-white.form-select{
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  background-position: right .75rem center;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0rem;
  font-weight: 600;
}

.fusion-white.form-control{
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 0rem;
  font-weight: 600;
}

.fusion.form-select{
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  background-image: url('../img/icons/arrow-down.svg');
  background-position: right .75rem center;
  background-repeat: no-repeat;
  color: rgb(99, 98, 98);
  border-radius: 0;
  padding: 0rem;
  font-weight: 600;
}
.fusion.form-control{
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  color: rgb(99, 98, 98);
  border-radius: 0;
  padding: 0rem;
  font-weight: 600;
}
.bg-black-off{
  background-color: rgba(59, 59, 59, 1);
}
.card-pad{
  padding: 2.5rem;
}
.register-btn{
box-shadow: 0px 4px 16px 0px rgba(255, 87, 34, 0.32);
}
.rounded-card{
border-radius: 1rem;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.item1 {
  grid-column:1;
  grid-row: 1;
}

.item2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.item3 {
  grid-column: 3;
  grid-row: 1;
}

.item4{
  grid-column: 1;
  grid-row: 2 / span 3;
}
.item5 {
  grid-column: 2;
  grid-row: 3;
}
.item6{
  grid-column: 3;
  grid-row: 2 / span 3 ;
}
.seat-img{
  width: 3.75rem;
  height:3.125rem ;
}
.border-grey{
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
}
.bg-grey{
  background:rgb(240, 239, 239);
}
.form-control.book-input{
  padding:  1rem;
}
/* topography */
.tx-40{
  font-size: 2.5rem;
}
.tx-36{
  font-size: 2.25rem;
}
.tx-32{
  font-size: 2rem;
  line-height: 1;
}
.tx-24{
  font-size:1.5rem ;
}
.tx-20{
  font-size: 1.25rem;
}
.tx-18{
  font-size: 1.125rem;
}
.tx-14{
  font-size: 0.875rem;
}
.tx-12{
  font-size: 0.75rem;
}
.tx-10{
font-size: 0.625rem;
}
.fw-lighter{
  font-weight: 100!important;
}
.tx-grey-light{
  color: rgba(255, 255, 255, 0.8);
}
.tx-gray{
  color: #808080
}
.bg-grey{
  background:#f0f2f3;

}
.tx-grey{
  color: rgba(194, 201, 209, 1);
}
.tx-grey-dark{
  color:#BABCBE;
}
.fw-semibold{
  font-weight: 600;
}
.fw-medium{
  font-weight: 500;
}
.bg-mono{
  background: rgba(38, 38, 38, 1);
}
#plan {
  background-image: url('../img/icons/dot.png'), url('../img/icons/dot1.png');
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 13.375rem 13.375rem, 13.375rem 13.375rem;
  height: 100%;
  
}

.nav-tabs .nav-link.set.active{
  background-color: #262626;
  color: #fff;
}
.nav-tabs .nav-link.set{
  background-color: transparent;
  border: 0;
  color: #262626;
  font-weight: 600;
}
.bg-tab{
  background:#fff;
}
.book-input::-webkit-input-placeholder {
  text-align: center;
}
.btn-black.shadow{
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.808)!important;
}
.tx-red{
  color: rgba(219, 53, 58, 1);
}
a{
  text-decoration: none;
  color: rgba(219, 53, 58, 1);
}
a:hover{
  text-decoration: none;
  color: rgb(246, 4, 12);
}
tr.dotted-line td{
  border-bottom: 1px dashed  rgba(0, 0, 0, 0.25);  
  padding-top: 2rem;
  
}
.btn{
  border-radius: 0px;
}
.btn-close{
  background: url(../img/icons/close.svg) center/1.2em auto no-repeat;
  opacity: 1;
}
.neg-section{
  margin-top: -4rem;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link.order-item{
  width: 50%;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link.order-item img{
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}
.nav-pills .nav-link.order-item.active, .nav-pills .show>.nav-link.order-item{
  background-color: rgba(38, 38, 38, 1);
}

.pill-badge{
  margin-left: -23px;
  margin-top: 6px;
}
.bg-gray{
  background: rgba(194, 201, 209, 0.884);
}
.text-orange{
  color:#B47128;
}
.order-input{
  background-color: #DDDDDD;
  padding: .4rem 2.25rem .4rem .75rem;
}
.btn-order{
  background-color: #DDDDDD;
  font-size: 14px;
  font-weight: 700;
}
.btn-check:active+.btn-order, .btn-check:checked+.btn-order, .btn-order.active, .btn-order:active{
  background-color:#262626;
  color: #fff;
}
.margin-long-top{
  margin-top: 11rem;
}
.community-img{
  max-height: 17rem;
}
.event-side{
  background: linear-gradient(180deg, rgba(167, 167, 167, 0) 0%, rgba(0, 0, 0, 0.8) 92.5%),url('../img/event.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.event-side-new{
  background:url('../img/google.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:17rem;
}
.food-box{
  width: 25px;
  height: 25px;
  background-color: #fff;
}
.lifestyle-box{
  background-color: #fff;
}
.date-box{
  background-color: rgba(38, 38, 38, 1);
  height: 45px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
}
.event-pad{
  padding-top: 8rem;
}
.pos-rel{
  position: relative;
}
.down-box{
  margin: auto;
  position: absolute; 
  bottom: 0; 
  height: 3rem;
  width: 4rem;
  margin-bottom: -20px;
  margin-left: -1.5rem;
}

.pos-rel .content-pos {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  margin-left: 10px;
  margin-bottom: 10px;
}
.pos-abs{
  position: absolute; /* Position the background text */
  margin-bottom: 10px;
  top: 0;
}
 /* X-Small devices (portrait phones, less than 576px) */
 @media (min-width: 300px) and (max-width: 370.98px) { 
  li .btn-close{
    margin-top: -4.5rem!important;
  }
 }
@media (max-width: 575.98px) {
  .neg-box-x{
  margin-left: 0rem;
  }
  .neg-form{
    margin-left: 0rem;
    width: 100%;
    margin-top: 2rem;
  }
  .space-side{
    min-height: 30rem;
  }
  .tx-36{
    font-size: 1.9rem;
  }
  .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link.order-item{
    width: 100%;
  }
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -45%;
    transition: all 0.2s ease;
}

.navbar-collapse.show .navbar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    height: auto;
    width: 80%;
    transition: left 0.15s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    /* background: rgb(245, 221, 221); */
    z-index: 999;
    color: black;
}
.navbar-nav {
  background-color: #f8f9fa;
  padding: 1rem;
}
.navbar-nav .nav-link{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  text-align: right;
}
li .btn-close{
  margin-top: -6rem;
}
li .register-btn{
  text-align: center!important; 
 }
.flex-image img{
  height: 60px;
  width: 60px;
}
.blogpost-tx{
  font-size: 1.2rem;
}
.text-down{
  margin-bottom:10px!important ;
}
.cus-next, .cus-prev{
  position: relative;
  display: inline;
  /* float: right; */
  width: 50%!important;
  opacity: 1;
}
.cus .cus-space{
  margin-right: 0px!important;
  /* margin-left: 20px; */
}

.card-mobile{
min-height: 27rem;
}
.next-mobile{
  margin-bottom: 5.5rem;
}

}
.neg-bg .container{
  padding-top: 22rem!important;
  padding-bottom: 4rem;
  }
  


 @media (min-width: 768px) and (max-width: 1029.98px) { 
  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    font-weight: 600;
  }
  
  .neg-box-x{
    margin-left: -2rem;
    }
    .neg-form{
      margin-left: -5rem;
      width: 21rem;
      margin-top: 2rem;
    }
    .space-side{
      min-height: 30rem;
    }
  }

/* mobile navbar sidebar under lg breakpoint */
@media (min-width: 768px) and (max-width: 992px) {
    
  .navbar-collapse.collapsing .navbar-nav {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: -45%;
      transition: all 0.2s ease;
  }

  .navbar-collapse.show .navbar-nav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      flex-direction: column;
      height: auto;
      width: 60%;
      transition: left 0.15s ease;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      /* background: rgb(245, 221, 221); */
      z-index: 999;
      color: black;
  }
  .navbar-nav {
    background-color: #f8f9fa;
    padding: 3rem;
  }
  .navbar-nav .nav-link{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: right;
  }
  li .btn-close{
    margin-top: -8rem;
  }
  li .register-btn{
  text-align: center!important; 
 }
}

 .owl-item {
  margin: 3px;
}
 .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}
.text-down{
  margin-bottom:-32px ;
}
.bg-blue{
  background-color: #10375C!important;
}
.cus .cus-space{
  margin-right: 30px;
  /* margin-left: 20px; */
}
.carousel-indicators [data-bs-target]{
  background-color: #DD2C00;
}
.carousel-indicators{
  margin-bottom: -40px;
}
.pos-bottom{
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
  padding-top: 30px;
}
.customer-bottom{
  margin-bottom: 7rem;
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(-0px);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(70px);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(70px);
}
.cus-next, .cus-prev{
  position: relative;
  display: inline;
  float: right;
  width: 10%;
  opacity: 1;
}
.blogpost-tx{
  line-height: 1.2;
}
.shadow-sm{
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1)!important;
}
.chat-select{
  background:#d6dbe0;
  background-image: url('../img/icons/down-dark.svg');
  background-position: right .75rem center;
  background-repeat: no-repeat;
}
.chat-input{
  min-height: calc(2.5em + (1.5rem + 2px));
  border-radius: 3rem;
  border: 0;
}
.flex-image {
  flex-shrink: 0;
}
.chat-message-box{
  border-radius: 30px;
}
.small-img{
  height: 50px;
  width: 50px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.bg-grey-light{
  background-color: #f9fafa;
}
.next-mobile{
  margin-bottom: 5.5rem;
}
.neg-event{
  margin-top: -3.5rem;
}
.info-text{
  line-height: 2;
}
.arrow-box:hover{
  cursor: pointer;
}
.card.accordion-item{
  margin-bottom: 6rem;
}
.bank-brand{
  background-image:  url('../img/Union-2.png');
  background-position: right center;
  background-repeat:  no-repeat;
  background-origin: initial;
}
.neg-bg{
  margin-top: -20rem;
}
.neg-bg .container{
padding-top: 25rem;
padding-bottom: 4rem;
}
